/* variables for colors and dimensions */
.num-font-size-v2 {
  font-size: 24px;
}

.orange-text {
  color: #fc7100;
}

.blue-text {
  color: #2b3eb1;
}

.subtext {
  font-size: 14px;
  color: #939495;
  font-weight: 500;
}

.first-savings {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 700;
}

.big-num {
  font-weight: 600;
  font-size: 30px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: 500;
}

body {
  overflow-x: scroll;
  animation: fadeInAnimation ease-in 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #eeeff3;
}
body::-webkit-scrollbar {
  display: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.header {
  background-color: #2b3eb1;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}
.header__logo img {
  height: 30px;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header__nav {
  margin-left: -20rem;
}
.header__nav .nav__list {
  list-style: none;
  display: flex;
  gap: 50px;
}
.header__nav .nav__list .db {
  font-weight: bolder;
}
.header__user {
  display: flex;
  gap: 40px;
}
.header__user .user-links {
  display: flex;
  gap: 30px;
}
.header .user__link {
  position: relative;
  display: flex;
  align-items: center;
}
.header .user__link img {
  height: -moz-fit-content;
  height: fit-content;
}
.header .user__link .notif {
  height: 6px;
  width: 6px;
  border: 1px solid #2b3eb1;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: 60%;
  top: 8%;
}

.main {
  padding: 60px;
}

.ccard-title-text {
  color: #2b3eb1;
  font-style: italic;
}
.ccard-title-text-active {
  color: #ffffff;
}

.row {
  display: flex;
  gap: 39px;
  justify-content: space-between;
}
.row.ccards-row {
  overflow-x: scroll;
  gap: 32px;
}
.row.ccards-row::-webkit-scrollbar {
  display: none;
}
.row .card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row .card--left {
  background-image: url("assets/Announcement.png");
  background-size: cover;
  width: 40%;
  gap: 20px;
}
.row .card--left .card__cta {
  background-color: #ffffff;
  color: #2b3eb1;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}
.row .card--left .card__text {
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-align: balance;
}
.row .card--left a {
  color: #fc7100;
  text-decoration: none;
  font-size: 16px;
}
.row .card--left a img {
  margin-left: 6px;
  margin-bottom: -4px;
}
.row .card--left .dots {
  display: flex;
  gap: 15px;
}
.row .card--left .dots div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.9;
}
.row .card--left .dots div:nth-child(2) {
  scale: 1.3;
  background-color: #fc7100;
}
.row .card--right {
  width: 60%;
}
.row .card--right .card__row1,
.row .card--right .card__row2,
.row .card--right .card__row3 {
  display: flex;
  justify-content: space-between;
}
.row .card--right .card__row2 {
  padding: 20px 0;
}
.row .card--right .card__row3--cta {
  display: flex;
  align-items: center;
  background-color: #2b3eb1;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  padding: 12px 20px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
}
.row .card--right .card__row3--cta:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
.row .card--right .card__row3--col {
  display: flex;
  align-items: center;
}
.row .card--right .card__row3--col img {
  height: 44px;
  margin-right: 12px;
}
.row .card--debit {
  padding: 30px 32px;
  width: 25%;
  margin: 39px 0;
}
.row .card--debit h3 {
  color: #2b3eb1;
}
.row .card--debit#active-card {
  color: #ffffff;
  opacity: 0.9;
  background: linear-gradient(120deg, #2b3eb1 0%, #2b3eb1 54%, #172b9f 52%, #172b9f 100%);
}
.row .card--debit#active-card h3 {
  color: white;
}
.row .card--debit .row1,
.row .card--debit .row2,
.row .card--debit .row3 {
  display: flex;
  justify-content: space-between;
}
.row .card--debit .row2 {
  padding: 30px 0;
}
.row .card--debit .row3 {
  gap: 20px;
}
.row img.darr {
  height: 6px;
  cursor: pointer;
}
.row img.bluearr {
  cursor: pointer;
  height: 40px;
}
.row .stats {
  width: 40%;
}
.row .stats .row1,
.row .stats .row4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row .stats .row1 h4,
.row .stats .row4 h4 {
  font-size: 20px;
  font-weight: 500;
}
.row .stats .row2,
.row .stats .row3 {
  display: flex;
  justify-content: start;
  gap: 30px;
}
.row .stats .row2 {
  border-bottom: 3px solid #f5f7f9;
  padding: 30px 0;
}
.row .stats .row2 .box p:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
}
.row .stats .row3 {
  padding: 30px 0;
}
.row .stats .box,
.row .stats .circle .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.row .stats .hole {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
}
.row .stats .hole .text {
  position: absolute;
  left: 50%;
  top: 38%;
  translate: -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row .stats .hole .text p {
  color: #2b3eb1;
  font-size: 13px;
}
.row .stats .hole .text h3 {
  font-size: 32px;
  font-weight: 800;
}
.row .stats .donut {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: conic-gradient(#2b3eb1 0deg 216deg, #fc7100 216deg 360deg);
}
.row .stats .data1,
.row .stats .data2 {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 15px;
  padding: 6px 10px;
}
.row .stats .data1 img,
.row .stats .data2 img {
  height: 30px;
}
.row .stats .data1 .num,
.row .stats .data2 .num {
  font-size: 24px;
}
.row .stats .data1 {
  color: #172b9f;
  background-color: rgba(43, 62, 177, 0.1);
  margin-bottom: 20px;
}
.row .stats .data2 {
  color: #fc7100;
  background-color: rgba(252, 113, 0, 0.1);
}
.row .table {
  width: 60%;
}
.row .table .marker-col {
  display: flex;
  gap: 10px;
}
.row .table .orange-circle,
.row .table .blue-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.row .table .orange-circle {
  background-color: #fc7100;
}
.row .table .blue-circle {
  background-color: #2b3eb1;
}
.row .table .row1 {
  display: flex;
  justify-content: space-between;
}
.row .table .row1 h4 {
  font-size: 20px;
  font-weight: 500;
}
.row .table .row2 {
  display: flex;
  overflow: scroll;
  gap: 40px;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 3px solid #f5f7f9;
}
.row .table .row2::-webkit-scrollbar {
  display: none;
}
.row .table .row2 .col {
  font-weight: 400;
  font-size: 14px;
  min-width: 120px;
}
.row .table .row2 .col.dates {
  min-width: auto;
}
.row .table .row3 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.row .table .row3 .seemore {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3eb1;
  padding: 2px 16px;
  color: #ffffff;
  border-radius: 10px;
}
.row .table .row3 .seemore img {
  height: 40px;
}/*# sourceMappingURL=styles.css.map */